body {
  margin: 0;
  background-color: #f0f0f0;
}

.TodoTemplate {
  width: 512px;
  margin: 6rem auto;
}

.app-title {
  background-color: #cbd5e1;
  color: #ffffff;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 6px 6px 0 0;
}

.TodoInsert {
  display: flex;
  background: #495057;
  input {
    line-height: 2;
    font-size: 1.125rem;
    border: none;
    background: none;
    color: white;
    padding-left: 1rem;
    flex: 1;
    &::placeholder {
      color: #eeeeee;
      font-weight: 600;
    }
  }
  button {
    background: none;
    background: #868e96;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    line-height: 2;
    transition: 0.1s background ease-in;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    &:hover {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
.TodoList {
  min-height: 320px;
  max-height: 513px;
  overflow-y: auto;
}

.TodoListItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  background: #ffffff;
  .checkbox {
    display: flex;
    align-items: center;
    flex: 1;
    svg {
      font-size: 1.5rem;
    }
    .text {
      margin-left: 0.5rem;
      flex: 1;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5rem;
    }
  }

  .remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    svg {
      color: #ff6b6b;
    }
  }

  & + & {
    border-top: 1px solid #dee2e6;
  }
}
